 <form name="sheetForm" ng-submit="createMappinsFile(sheet.title)" novalidate>
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#workbookAccordion" data-target="#collapse{{$index}}">
        {{sheet.title}}
      </a>
    </h4>
  </div>

  <div id="collapse{{$index}}" class="panel-collapse collapse {{$index == 0 ? 'in' : ''}}">
    <div class="panel-body" ng-model="sheets[sheet.title]">
      <div class="form-input">
        <label for="header">Header Row #</label>
        <input type="number" class="form-control" ng-model="sheets[sheet.title]['headerRow']" name="header" required
          min="0" max="{{sheet.data.length ? sheet.data.length - 1 : 0}}"/>
          <p ng-show="isTouchedAndInvalid(sheets[sheet.title]['headerRow'])" class="help-block">Header row is required.</p>
      </div>

      <hr />

      <div class="table-responsive sheets-doublescroll">
        <table class="table table-striped table-bordered table-fixed">
          <thead>
            <tr>
              <th ng-repeat="columnIndex in loopRange(0, sheet.maxColumns - 1)">
                
                <select ng-model="sheets[sheet.title]['mappings'][columnIndex].value" ng-change="apply()">
                  <option selected disabled>Please select mapping</option>
                  <option ng-repeat="column in columns" value="{{column.key}}">{{column.value}}</option>
                </select>
                <div ng-show="showMetadata(sheet.title, columnIndex)">
                  <div class="form-input">
                    <label for="inputMetadata-{{columnIndex}}">{{getMetadata(sheet.title, columnIndex).label}}</label>
                    <input type="getMetadata(sheet.title, columnIndex).type" class="form-control" ng-model="sheets[sheet.title]['mappings'][columnIndex].metadata" name="inputMetadata-{{columnIndex}}" required/>
                    <p ng-show="isTouchedAndInvalid(sheets[sheet.title]['mappings'][columnIndex].metadata)" class="help-block">This field is required.</p>
                  </div>
                </div>
                
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in sheet.data track by $index" 
              class="{{sheets[sheet.title]['headerRow'] == $index ? 'info' : ''}}"
              ng-click="sheets[sheet.title]['headerRow'] = $index" style="cursor: pointer;">
              <td ng-repeat="col in row track by $index">{{col}}</td>
              <td ng-if="row.length < sheet.maxColumns" ng-repeat="n in loopRange(row.length, sheet.maxColumns - 1)" >&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Create Mappings</button>
    </div>
  </div>
</form>