 <form name="sheetForm" novalidate>
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#workbookAccordion" data-target="#collapse{{$index}}">
        {{sheet.title}}
      </a>
    </h4>
  </div>

  <div id="collapse{{$index}}" class="panel-collapse collapse {{$index == 0 ? 'in' : ''}}">
    <div class="panel-body" ng-model="sheets[sheet.title]">

      <div class="row" ng-include="'partials/sheet-general-data.html'"/>

      <hr />

      <div class="table-responsive sheets-doublescroll">
        <table class="table table-striped table-bordered table-fixed" data-toggle="table" data-fixed-columns="true" data-fixed-number="2">
          <thead>
            <tr>
              <th>Header Row</th>
              <th ng-repeat="columnIndex in loopRange(1, sheet.maxColumns)">
                
                <select ng-model="sheets[sheet.title]['mappings'][columnIndex].value" ng-change="apply()">
                  <option selected value="">Please select mapping</option>
                  <option ng-repeat="column in columns" value="{{column.key}}">{{column.value}}</option>
                </select>
                <div ng-show="showMetadata(sheet.title, columnIndex)">
                  <div class="form-input">
                    <label for="inputMetadata-{{columnIndex}}">{{getMetadata(sheet.title, columnIndex).label}}</label>
                    <input type="getMetadata(sheet.title, columnIndex).type" class="form-control" ng-model="sheets[sheet.title]['mappings'][columnIndex].metadata" name="inputMetadata-{{columnIndex}}" required/>
                    <p ng-show="isTouchedAndInvalid(sheets[sheet.title]['mappings'][columnIndex].metadata)" class="help-block">This field is required.</p>
                  </div>
                </div>
                
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="row in sheet.data track by $index" 
              class="{{sheets[sheet.title]['headerRow'] == $index ? 'info' : ''}}">
              <td>
                <button type="button" class="btn btn-primary" name="headerradio" ng-click="sheets[sheet.title]['headerRow'] = $index">
                  Header
                </button>
              </td>
              <td ng-repeat="col in row track by $index" class="{{pendingAction ? 'selectable-cell':''}}" ng-click="selectCell(sheet.title, col, $index)">{{col}}</td>
              <td ng-if="row.length < sheet.maxColumns" ng-repeat="n in loopRange(row.length + 1, sheet.maxColumns)" >&nbsp;</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel-footer">
      <button type="button" ng-click="createMappinsFile(sheet.title)" class="btn btn-primary">Create Mappings</button>
    </div>
  </div>
</form>