<div id="general-mapping" class="row">
  <div class="form-input">
    <label for="bank">Bank</label>
    <input type="text" class="form-control" ng-model="generalMapping.bank" name="bank" required/>
    <p ng-show="isTouchedAndInvalid(generalMapping.bank)" class="help-block">Bank is required.</p>
  </div>
  <div class="form-input">
    <label for="parser">Parser</label>
    <input type="text" class="form-control" ng-model="generalMapping.parser" name="parser" required/>
    <p ng-show="isTouchedAndInvalid(generalMapping.parser)" class="help-block">Parser is required.</p>
  </div>
  <div class="form-input" ng-show="generalMapping.parser">
    <label for="template">Template</label>
    <div class="input-group">
      <span class="input-group-addon" id="template-prefix">{{generalMapping.parser}}_</span>
      <input type="text" class="form-control" ng-model="generalMapping.template" name="template" aria-describedby="template-prefix">
    </div>
  </div>
</div>
<hr />
<h1>Workboot sheets</h1>
<br />
<div class="panel-group" id="workbookAccordion">
  <div class="panel panel-default" ng-repeat="sheet in workbook.sheets track by $index" ng-init="sheets[sheet.title]['headerRow'] = 0" ng-include="'partials/sheet.html'"/>
</div>